volumes:
    prometheus_data: {}
    grafana_data: {}
    samba_data: {}
    firefox: {}

networks:
  front-tier:
  back-tier:

services:

  prometheus:
    image: prom/prometheus:v3.0.1
    volumes:
      - ./dashboards/prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - cadvisor:cadvisor
    depends_on:
      - cadvisor
    networks:
      - back-tier
    restart: always

  node-exporter:
    image: prom/node-exporter:v1.8.1
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
    command: 
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global

  grafana:
    image: grafana/grafana:11.4.0
    user: "1000"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./dashboards/grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./dashboards/grafana/config.monitoring
    networks:
      - back-tier
      - front-tier
    restart: always

  cadvisor:
    image: gcr.io/cadvisor/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global


  trends:
    image: trends:0.1.8
    ports:
      - 5001:5001
    container_name: trends
    depends_on:
      - grafana
    restart: unless-stopped
    networks:
      - back-tier
    volumes:
      - ./trends/data:/app/data

  jellyfin:
    image: jellyfin/jellyfin:2024123005  # Use the official Jellyfin image
    ports:
      - 8096:8096 
    container_name: jellyfin
    depends_on:
      - grafana  # Optional: If you want to monitor Jellyfin with Prometheus
    restart: unless-stopped
    volumes:
      - /hdd/data/jellyfin/config:/config
      - /hdd/data/jellyfin/cache:/cache
      - /hdd/data/jellyfin/fonts:/usr/local/share/fonts/custom
      - /hdd/data/qbittorrent/downloads/shows:/shows/qbittorrent
      - /hdd/data/qbittorrent/downloads/movies:/movies/qbittorrent
      - /media/hdd2/movies:/movies/hdd2
      - /media/hdd2/shows:/shows/hdd2
    environment:
      - JELLYFIN_PublishedServerUrl=http://jellyfin.com
      - JELLYFIN_FFmpeg__probesize=50000000
      - JELLYFIN_FFmpeg__analyzeduration=50000000
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - back-tier

  samba:
    # build: .
    image: ghcr.io/servercontainers/samba
    restart: unless-stopped
    network_mode: host 
    environment:
      # uncomment to enable fail fast (currently only fails fast if there are conflicts/errors during user/group creation)
      #FAIL_FAST: 1

      MODEL: 'TimeCapsule' 
      AVAHI_NAME: StorageServer
      SAMBA_CONF_LOG_LEVEL: 3 

      # uncomment to disable optional services
      #WSDD2_DISABLE: 1
      #AVAHI_DISABLE: 1
      #NETBIOS_DISABLE: 1

      # example for hashed password (user: vasu | password: foobar) - generated using create-hash.sh script.
      ACCOUNT_vasu: foobar  
      UID_vasu: 1000
      GROUPS_vasu: users 

      SAMBA_VOLUME_CONFIG_adminonly: "[Admin]; path=/shares; valid users = vasu; guest ok = no; read only = no; browseable = yes"

    volumes:
      - /etc/avahi/services/:/external/avahi
      - /hdd/data:/shares/hdd
      - /media/hdd1:/shares/hdd1
      - /media/hdd2:/shares/hdd2

  gluetun:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /home/gopala/data/gluetun/wireguard/wg0.conf:/gluetun/wireguard/wg0.conf
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
    ports:
      - 8081:8080 # Exposing qBittorrent through Docker Host LAN IP

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TORRENTING_PORT=6881
    security_opt:
      - no-new-privileges:true
    volumes:
      - /home/gopala/data/qbittorrent/config:/config
      - /home/gopala/data/qbittorrent/downloads:/downloads #optional
    # security_opt:
    #   - no-new-privileges:true
    network_mode: "service:gluetun"
    restart: unless-stopped

  # firefox:
  #     image: lscr.io/linuxserver/firefox:latest
  #     container_name: firefox
  #     environment:
  #       - PUID=1000
  #       - PGID=1000
  #       - TZ=Etc/UTC
  #     volumes:  
  #       - firefox:/config
  #     network_mode: "service:gluetun"
  #     restart: unless-stopped
      # shm_size: "1gb"
      # ports:
      #   - 3001:3001
      #   - 5002:3000